@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.template-default__wrap {
    background-color: #ffffff;
}

.app-header.app-header--nav-open {
    padding: 10px;
}

.app-header__content {
    background-color: #66ccff;
}

.nav__scroll {
    box-shadow: 1px 1px #ebe6e6;
}

.nav {
    background-color: #0d0e12f3;
}

.step-nav::after {
    display: none;
}
.step-nav__last {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

.gutter--left.gutter--right.dashboard__wrap {
    padding-right: 0;
    padding-left: 0;
}

.gutter--left.gutter--right.doc-header {
    display: none !important;
}

.doc-controls__content {
    font-size: 17px;
}

.dashboard-container {
    /* border-radius: 10px; */
    margin: 10px;
    padding: 20px;
    /* background-color: white; */
}

.form {
    padding: 15px;
}

.collection-list {
    padding: 15px;
}


.form .gutter--left.gutter--right.doc-header {
    padding-top: calc(var(--base)* 1.5);
    background-color: white;
}

.form .gutter--left.gutter--right.doc-controls {
    background-color: white;
}

.form .document-fields.document-fields--no-sidebar {
    background-color: white;
}

.collection-list .gutter--left.gutter--right.collection-list__wrap {
    background-color: white;
    padding: 30px;
}

.nav__link {
    padding: 15px !important;
    color: white;
    font-size: 15px;
    text-decoration: none !important;
    border-radius: 4px !important;
}

.nav__link-icon {
    display: block !important;
}

/* .nav__link:hover {
    background-color: #CCE5FF;
} */

.nav__link.active {
    background-color: #CCE5FF;
}

.nav__link-icon {
    margin-right: 15px;
}

table {
    border: 1px solid gray;
    border-left: 6px solid #579bfc;
}

.table th,
.table td {
    padding: 0.442308rem;
    min-width: 150px;
}

th, td {
    border: 1px solid #e1d8d8;
}

.table tbody tr:nth-child(odd) {
    background: rgb(255 255 255);
}

.table tbody tr:nth-child(even) {
    background: rgb(255 255 255);
}

.checkbox-input__input {
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

.checkbox-input__icon.check {
    top: -5px;
    left: -4px;
}

.input-wrapper input {
    font-family: var(--font-body) !important;
    width: 100% !important;
    border: 1px solid rgb(151 150 150) !important;
    background: rgb(255 255 255) !important;
    color: black !important;
    font-size: 1rem !important;
    height: 3.8461538462rem !important;
    line-height: 1.9230769231rem !important;
    padding: 0.9615384615rem 1.4423076923rem !important;
    -webkit-appearance: none !important;
    border-radius: 6px !important;
}

input:not(:disabled):hover {
    box-shadow: none !important;
    border: 1px solid #579bfc !important;
}

input:not(:disabled):active,
input:not(:disabled):focus-within,
input:not(:disabled):focus {
    box-shadow: none !important;
    border: 1px solid #579bfc !important;
}

.login.template-minimal.template-minimal--width-normal {
    background-image: url('https://media.istockphoto.com/id/1395240661/vector/blur-gradient-glow-abstract-pastel-background.jpg?s=612x612&w=0&k=20&c=2kfkKihMAgQCnjA2HJ_yc560aOlKXQLVqNiHxNCroxE=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.template-minimal__wrap {
    padding: 15px;
    /* box-shadow: 0px 0px 6px 5px #e8e6e6; */
    background-color: white;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.tab h3 {
    margin-bottom: 0;
}

.card.report-card {
    background-color: white;
    border-radius: 10px;
}